@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light_pink: hsl(275, 100%, 97%);
    --Grayish_purple: hsl(292, 16%, 49%);
    --Dark_purple: hsl(292, 42%, 14%);
}
*{
    font-family: "Work Sans";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    background-color: var(--Light_pink);
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: 232px;
    background-image: url('../assets/images/background-pattern-mobile.svg');
    background-size: contain;
    position: absolute;
    top: 0;
}